* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.site {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}